##ignore build files
RESTFUL-web-client/bin/
RESTFUL-web-client/build/

RESTFUL-web-service/neo4j.db/
RESTFUL-web-service/bin/
RESTFUL-web-service/build/

neo4j-test/accessingdataneo4j.db/
neo4j-test/bin/
neo4j-test/build/

actuator-test/bin/
actuator-test/build/

*/*.db/
*/bin/
*/build/

RESTFUL-web-service/.gradle/2.12/taskArtifacts/*
RESTFUL-web-service/.classpath
RESTFUL-web-service/.settings/org.eclipse.jdt.core.prefs
RESTFUL-web-service/build.gradle

/.metadata
/.recommenders
/RemoteSystemsTempFiles
dlx_workspace.zip
